@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);




ul {
  list-style-type: none !important;
}

li {
  display: inline-block !important;
}

input[type="checkbox"][id^="cb"] {
   display: none !important; 
}

input[type="radio"][id^="cb"] {
   display: none !important; 
}

label {
  width:160px !important;
  height:160px   !important;
  border: 1px solid #fff !important;
  padding: 10px !important;
  border-radius: 30x !important;
  display: block !important;
  position: relative !important;
  margin: 10px !important;
  cursor: pointer !important;
}

label:before {

 background-image:url("/image/main/pick160.png");
  text-align:center !important;
  color: white !important;
  display: block !important;
  border-radius: 3px !important;
  position: absolute !important;
  z-index:1 !important;
  width:160px  !important;
  height: 160px  !important;
  text-align: center !important;
  line-height: 100px !important;
  transition-duration: 0.4s !important;
  transform: scale(0) !important;
}



[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
     background-color:transparent !important; 
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
     border: 0px !important;
}

label img {
  height: auto !important;
  width: 160px !important;
  transition-duration: 0.1s !important;
  transform-origin: 50% 50% !important;
  border-radius: 3px !important;
  margin: auto !important;
}

:checked + label {
  border-color: #eee !important;
}

:checked + label:before {

  transform: scale(1.2) !important;
}

:checked + label img {
  transform: scale(1.2) !important;
  box-shadow: 0 0 3px #333 !important;
  z-index: -1 !important;
}

[type="checkbox"]:checked+label:before {
	top: -4px !important;
    left: -5px !important;
    width: 12px !important;
    height: 22px !important;
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #26a69a !important;
    border-bottom: 2px solid #26a69a !important;
    -webkit-transform: rotate(40deg) !important;
    transform: rotate(40deg) !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    -webkit-transform-origin: 100% 100% !important;
    transform-origin: 0% 0% !important;
}




#center_vs{
    padding-top:50px;
    font-weight: 800;
    font-size: 4rem;
    color: #ED2553;
 }



.custom-nav{
	background-color: #ED2553;
}

[type="radio"]+label:before, [type="radio"]+label:after {
   
 
     position:relative; !important;
}


#pick_btn{
	background-color: #ED2553;
}
/*툴팁  */
.backdrop{
       background-color:#ED2553  !important;
}

#voteTitle{
	font-family: 'Hanna', serif !important;
	
}
#voteContent{
	font-family: 'Hanna', serif !important;
	
}


.share_btn img{
	width:30px;
	height:30px;
	border-radius: 20%;
	cursor: pointer;
	
}
#goToChat_btn{
	background-color: #ED2553;
}