@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	font-family: "Lato", sans-serif;
	font-weight: 200;
	font-size: 18px;
    color: rgba(51, 51, 51, 0.62);
}

.js-hide {
	display: none;
}

#filebox label {
	display: table-cell;
	padding: .5em .75em;
	padding: 5px;
	color: rgba(51, 51, 51, 0.62);
	font-size: 1rem;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #a29f9f;
	border-radius: 2px;
	height: 30px;
	width: 70px;
	position: relative;
	top: 6px;
	left: 15px;
}

 #filebox input[type="file"] {
	position: absolute;
	width: 2px;
	height: 2px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}



#optional1 {
	position: relative;
	top: -10px;
    left: 30px;
	font-size: 1.3rem;
	font-weight: 500;
	letter-spacing: 0.5px;
}

#optional2 {
	position: relative;
	top: -8px;
    left: 30px;
	letter-spacing: 0.3px;
	font-size: 1rem;
	font-weight: 300;
}

#showHide {
	cursor: pointer;
	font-weight: 800;
	font-size: 2rem;
	position: relative;
	top: -4px;
	right: -3px;
}


.custom-nav{
	background-color: #ED2553;

}
#selectsub{
    margin-top: 0;
    padding-left: 35px;
    font-size: 20px;
    color:rgba(51, 51, 51, 0.62);
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 500;
    
    
}

#multichoice1{
    position: relative;
    right:0px;
    font-size: 13px;
    width: 130px;
    padding: 0 0 0 0;
    background-color: #ffffff;
    color: rgba(51, 51, 51, 0.6);
    font-weight: 700;
    border: 2px solid rgba(51, 51, 51, 0.6);
    border-radius: 2px;
    
    
}
#multichoice1:active{
    color: #fff;
    transform: translateY(1px) translateX(1px);
  
}
#versus{
    position: relative;
/*    right: 10px;*/
    font-size: 13px;
    width: 130px;
    padding: 0 0 0 0;
    color: rgba(51, 51, 51, 0.6);
    font-weight: 700;
    border: 2px solid rgba(51, 51, 51, 0.6);
    border-radius: 2px;
    background-color: #ffffff;
}

#subsub{
    padding-top: 10px;
/*    padding-bottom: 10px;*/
}
#concon{
    padding-top: 40px;
/*    padding-bottom: 10px;*/
}
#endend{
     padding-top: 10px;
/*    padding-bottom: 10px;*/
}
#catecate{
     padding-top: 10px;
/*    padding-bottom: 30px;*/
}


#multiChoice{
    padding-top: 15px;
    padding-left: 110px;
}

#voteMax{
    width: 130px;
    
}
#addExample {
    background-color: rgba(51, 51, 51, 0.62) !important;
    position: relative;
    top: 85px;
    left: 30px;
    width: 40px;
    height: 40px;
    
    
}
#remove_btn{
    background-color: rgba(51, 51, 51, 0.62) !important;
    position: relative;
    top: 10px;
    right: 35px;
    width: 40px;
    height: 40px;
    
    
}
#addmeterial{
    font-weight: 700;
    font-size: 2.4rem;
    position: relative;
    bottom: 8px;
}
#remove_btn .material-icons{
    font-weight: 700;
    font-size: 2.4rem;
    position: relative;
    bottom: 8px;
}

#limitdiv{
    padding-bottom: 30px;
}
#addpic1{
    padding-bottom: 10px;
}

#addimg11, #addimg22{
    
    text-align: center;
    
}
#addaddadd{
    text-align: center;
}
#vs1{
    
}
#filebox{
    padding-left: 20px;
}
#singleChoice{
    padding: 0 0 0 0;
    position: relative;
    left: 10px;
    top: 20px;
}

#vsvsvs{
    font-size: 2.7rem;
    letter-spacing: -3px;
    font-weight: 700;
    position: relative;
    top: 40px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 50px;
    
}
#vs2{
    
}
#versustext1, #versustext2{
    position: relative;
    bottom: 45px;
}
#detailop{
    
}
#showHide{
    position: relative;
    left: 320px;
    bottom: 70px;
/*    height: 50px;*/
    font-weight: 800;
    background-color: #fff;
    color: rgba(51, 51, 51, 0.62) ;
    font-size: 2rem;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    width: 60px;
/*    height: 40px;*/
  
    border-radius: 2px;
    
    
}
#showHide:active{
    color: #fff;
    transform: translateY(1px) translateX(1px);
  
}

#register_btn{
    font-weight: 800;
    font-size: 1.3rem !important;
    background-color: #fff;
    color: rgba(51, 51, 51, 0.62) ;
    border: 2px soild rgba(51, 51, 51, 0.62) !important;
    border-radius: 2px;
    
}
#register_btn:active{
    color: #fff;
    transform: translateY(1px) translateX(1px);
  
}
#regibtn{
    
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
}
#genderdiv, #agediv{
    padding-top: 30px;
    
}
#genderdiv{
    padding-left: 10px;
    
}
#agediv{
    padding-left: 70px;
    
}
/* sweetalert custom */
h2 {
  font-size: 20px !important;

}