<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="ChoiceUserMapper">
	<resultMap type="choiceUser" id="choiceUserSelectMap">
		<result property="choiceNo" column="CHOI_NO" jdbcType="INTEGER"/>
		<result property="userNo" column="USER_NO" jdbcType="VARCHAR"/>
	</resultMap>
	

	<insert id="addChoiceUser" parameterType="choiceUser">
		INSERT
		INTO CHOI_USER(CHOI_NO,USER_NO)
		VALUES (#{choiceNo:INTEGER},
				#{userNo:INTEGER})
	</insert>
	
	<select id="getUserNoListByChoiceNo"  parameterType="int" resultType="int">
		SELECT DISTINCT USER_NO
		FROM choi_user
		WHERE CHOI_NO=#{value}
	</select>
</mapper>