<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
 		 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 		"http://mybatis.org/dtd/mybatis-3-config.dtd">
  					
<configuration>

	 <typeAliases>
	 	<typeAlias alias="user" type="com.bitcamp.pick.domain.User"/>
	 	<typeAlias alias="choice" type="com.bitcamp.pick.domain.Choice"/>
	 	<typeAlias alias="vote" type="com.bitcamp.pick.domain.Vote"/>
	 	<typeAlias alias="interest" type="com.bitcamp.pick.domain.Interest"/>
	 	<typeAlias alias="userInterest" type="com.bitcamp.pick.domain.UserInterest"/>
	 	<typeAlias alias="voteAuthority" type="com.bitcamp.pick.domain.VoteAuthority"/>
	 	<typeAlias alias="choiceUser" type="com.bitcamp.pick.domain.ChoiceUser"/>
	 	<typeAlias alias="comment" type="com.bitcamp.pick.domain.Comment"/>
	 </typeAliases>
	 
  
  <!-- SQL Definition :: file include -->
  <mappers>
	<mapper resource="sql/UserMapper.xml"/>
	<mapper resource="sql/InterestMapper.xml"/>
	<mapper resource="sql/VoteMapper.xml"/>
	<mapper resource="sql/UserInterestMapper.xml"/>
	<mapper resource="sql/ChoiceMapper.xml"/>
	<mapper resource="sql/VoteA​uthorityMapper.xml"/>
	<mapper resource="sql/ChoiceUserMapper.xml"/>
	<mapper resource="sql/CommentMapper.xml"/>

						  
  </mappers>

</configuration>