<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UserMapper">


	<resultMap type="user" id="userSelectMap">
		<result property="userNo" column="USER_NO" jdbcType="INTEGER" />
		<result property="userEmail" column="USER_MAIL" jdbcType="VARCHAR" />
		<result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
		<result property="userPassword" column="USER_PWD" jdbcType="VARCHAR" />
		<result property="userGender" column="USER_GEND" jdbcType="VARCHAR" />
		<result property="userAge" column="USER_AGE" jdbcType="VARCHAR" />
		<result property="userPhoto" column="USER_PHOT" jdbcType="VARCHAR" />
		<result property="userType" column="USER_TYPE" jdbcType="VARCHAR" />
		<collection property="interestList" column="USER_NO" select="InterestMapper.getInterestListByUserNo" ofType="interest" javaType="ArrayList" />
	</resultMap>

	<select id="getUserByUserEmail" parameterType="string"
		resultMap="userSelectMap">
		SELECT *
		FROM USERS
		WHERE USER_MAIL=#{value}
	</select>
	
	<select id="getUserByUserName" parameterType="string"
		resultMap="userSelectMap">
		SELECT *
		FROM USERS
		WHERE USER_NAME=#{value}
	</select>


	<select id="getUserByUserNo" parameterType="integer" resultMap="userSelectMap">
		SELECT *
		FROM USERS
		WHERE USER_NO=#{value}
	</select>


	<insert id="addUser" parameterType="user">
		INSERT
		INTO USERS(USER_MAIL,USER_NAME,USER_PWD,USER_GEND,USER_AGE,USER_TYPE,USER_PHOT)
		VALUES (#{userEmail:VARCHAR},
				#{userName:VARCHAR},
				#{userPassword:VARCHAR},
				#{userGender:VARCHAR},
				#{userAge:VARCHAR},
				'user',
				<if test="userPhoto != null">
  					 #{userPhoto:VARCHAR}
  				</if>
  				<if test="userPhoto == null">
  					 'defaultProfileImage.jpg'
  				</if>
				)
	</insert>
	
	<update id="updateUser" parameterType="user">
		UPDATE USERS
		SET USER_NAME=#{userName:VARCHAR},
			USER_GEND=#{userGender:VARCHAR},
			USER_PHOT=#{userPhoto:VARCHAR},
			USER_AGE=#{userAge:VARCHAR}
		WHERE USER_NO=#{userNo}
	</update>
	
	
	<select id="getUserList"  resultMap="userSelectMap">
			SELECT *
		    FROM USERS
	</select>
	
	

</mapper>