@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

.post-module{
	font-family: 'Hanna', serif !important;
	
}


body{
/* 	background-image: url("/image/main/main10.jpg"); */
	background-size: 100%;
}

/**
 * Grid container
 */

#main {
    margin-top: 2em;
}

#tiles {
    list-style-type: none;
    position: relative;
    /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
    padding: 0;
}

#tiles li:hover img {
    opacity: 0.8;
}

.material-icons{
    margin-left: 20px;

}


/**
 * Grid items
 */

#tiles li {
    width: 200px;
    background-color: #ffffff;
    border: 1px solid #dedede;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: none;
    cursor: pointer;
    border-radius: 0.2em;
}


/*--media Quries for 640px-monitors-*/

@media only screen and (max-width:640px) and (min-width:480px) {
    #main {
        margin-top: 7em;
    }
}


/*--media Quries for 480px-monitors-*/

@media only screen and (max-width:480px) and (min-width:320px) {
    #main {
        margin-top: 9.5em;
    }
}


/*--media Quries for 320px-monitors-*/

@media only screen and (max-width:320px) and (min-width:240px) {
    #main {
        margin-top: 9em;
    }
    #tiles li {
        width: 200px;
    }
}


/* reset */


/*end reset*/

body {
    font-family: 'Open Sans', sans-serif;
}


/*---start-wrap----*/

.wrap {
    width: 95%;
   
 	margin: auto;
}


/*--media Quries for 1440px-monitors-*/

@media only screen and (max-width:1440px) and (min-width:1366px) {
    .wrap {
        width: 95%;
    }
}


/*--//End-media Quries for 1440px-monitors-*/


/*--media Quries for 1366px-monitors-*/

@media only screen and (max-width:1366px) and (min-width:1280px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
}


/*--//End-media Quries for 1366px-monitors-*/


/*--media Quries for 1280px-monitors-*/

@media only screen and (max-width:1280px) and (min-width:1024px) {
    .wrap {
        width: 95%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"] {
        width: 30.2%;
    }
}


/*--//End-media Quries for 1280px-monitors-*/


/*--media Quries for 1024px-monitors-*/

@media only screen and (max-width:1024px) and (min-width:768px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"] {
        width: 30%;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 97.3%;
    }
    .top-searchbar {
        width: 40%;
    }
    a.boxclose {
        right: 6em;
        top: 2em;
    }
}

/*--//End-media Quries for 1024px-monitors-*/


/*--media Quries for 768px-monitors-*/

@media only screen and (max-width:768px) and (min-width:640px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"] {
        width: 28.91%;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 96.4%;
        margin-bottom: 16px;
        resize: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 29%;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1 {
        display: none;
    }
    .nav-icon {
        margin: 1.2% 2% 0 6%;
    }
    .artical-content h3 a {
        font: 400 24px/36px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        width: 17%;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"] {
        width: 46%;
        padding: 10px;
    }
    .table-form textarea {
        width: 85%;
        padding: 10px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
}


/*--//End-media Quries for 768px-monitors-*/


/*--media Quries for 640px-monitors-*/

@media only screen and (max-width:640px) and (min-width:480px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"] {
        width: 96%;
    }
    .contact-to input[type="text"]:nth-child(2),
    .contact-to input[type="text"]:nth-child(3) {
        margin-left: 0px;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 96.4%;
        margin-bottom: 16px;
        resize: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 47%;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1 {
        display: none;
    }
    .nav-icon {
        margin: 1.2% 2% 0 6%;
    }
    .artical-content h3 a {
        font: 400 24px/36px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        display: none;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"] {
        width: 46%;
        padding: 10px;
    }
    .table-form textarea {
        width: 85%;
        padding: 10px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
    .header {
        padding: 1em 0 0.6em;
    }
    .menu_box_list ul li {
        display: block;
    }
    .box {
        top: -12px;
    }
    .map {
        display: none;
    }
    .col_1_of_bottom {
        float: none;
        margin: 1% 0 1% 0%;
    }
    .span_1_of_first1 {
        width: 100%;
    }
    .single-page,
    .contact-info {
        margin-top: 7em;
        padding: 4% 4% 5% 4%;
    }
}


/*--//End-media Quries for 640px-monitors-*/


/*--media Quries for 480px-monitors-*/

@media only screen and (max-width:480px) and (min-width:320px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 10px;
    }
    .contact-to input[type="text"] {
        width: 94.5%;
    }
    .contact-to input[type="text"]:nth-child(2),
    .contact-to input[type="text"]:nth-child(3) {
        margin-left: 0px;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 94.5%;
        margin-bottom: 16px;
        resize: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 94%;
        float: none;
        margin: 0;
        clear: both;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1,
    .para2 {
        display: none;
    }
    .nav-icon {
        margin: 2.5% 6.8% 0 0%;
        float: right;
    }
    .artical-content h3 a {
        font: 400 20px/31px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-links ul li {
        display: block;
    }
    .share-artical ul li {
        display: block;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        display: none;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"] {
        width: 94.8%;
        padding: 10px;
    }
    .table-form textarea {
        width: 94.5%;
        padding: 10px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
    .header {
        padding: 1em 0 0.6em;
    }
    .menu_box_list ul li {
        display: block;
    }
    .box {
        top: -12px;
    }
    .map {
        display: none;
    }
    .col_1_of_bottom {
        float: none;
        margin: 1% 0 1% 0%;
    }
    .span_1_of_first1 {
        width: 100%;
    }
    .single-page,
    .contact-info {
        margin-top: 9.5em;
        padding: 4% 4% 5% 4%;
    }
    .span_1_of_first1 h5 {
        font-size: 1em;
    }
}


/*--//End-media Quries for 480px-monitors-*/


/*--media Quries for 320px-monitors-*/

@media only screen and (max-width:320px) and (min-width:240px) {
    .wrap {
        width: 90%;
    }
    .footer {
        bottom: 0px;
        right: 0px;
        background: #fff;
        padding: 5px 10px;
    }
    .contact-to input[type="text"] {
        width: 91.5%;
        padding: 9px 10px
    }
    .contact-to input[type="text"]:nth-child(2),
    .contact-to input[type="text"]:nth-child(3) {
        margin-left: 0px;
    }
    .text2 input[type="text"],
    .text2 textarea {
        width: 91.5%;
        margin-bottom: 16px;
        resize: none;
        -webkit-appearance: none;
    }
    .text2 textarea {
        height: 100px;
        -webkit-appearance: none;
    }
    .contact-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .top-searchbar {
        width: 90%;
        float: none;
        margin: 0;
        clear: both;
    }
    a.boxclose {
        right: 1em;
        top: 2em;
    }
    .para1,
    .para2 {
        display: none;
    }
    .nav-icon {
        margin: 2.5% 12.8% 0 0%;
        float: right;
    }
    .artical-content h3 a {
        font: 400 16px/23px 'Open Sans', sans-serif;
        padding: 0.5em 0 0;
    }
    .artical-links ul li {
        display: block;
    }
    .share-artical ul li {
        display: block;
    }
    .artical-content p:nth-child(1) {
        display: none;
    }
    .userinfo {
        display: none;
    }
    .artical-content p {
        font: normal 14px/22px 'Open Sans', sans-serif, Helvetica, sans-serif;
        padding: 8px 0px;
    }
    .artical-links {
        float: none;
    }
    .share-artical {
        float: none;
        margin: 0em 0 0 0;
        padding: 0;
    }
    .share-artical ul li a,
    .artical-links ul li a {
        padding-right: 20px;
        padding-left: 0;
    }
    .grids_of_2 h2 {
        font: 400 26px/28px 'Open Sans', sans-serif;
        padding: 0.8em 0 0.5em;
    }
    h4.style1 a {
        font: 400 17px/14px 'Open Sans', sans-serif;
    }
    .grids_of_2 h2 {
        font: 400 24px/14px 'Open Sans', sans-serif;
        padding: 0.5em 0 0.2em;
    }
    .table-form form input[type="text"] {
        width: 91.8%;
        padding: 10px;
    }
    .table-form textarea {
        width: 92%;
        padding: 10px;
        height: 100px;
    }
    .table-form input[type="submit"] {
        padding: 0.6em 1.2em;
    }
    .menu_box_list li a {
        margin: 0.44em 1.5em;
    }
    .header {
        padding: 1em 0 0.6em;
    }
    .menu_box_list ul li {
        display: block;
    }
    .box {
        top: -12px;
    }
    .map {
        display: none;
    }
    .col_1_of_bottom {
        float: none;
        margin: 1% 0 1% 0%;
    }
    .span_1_of_first1 {
        width: 100%;
    }
    .single-page,
    .contact-info {
        margin-top: 9em;
        padding: 4% 4% 5% 4%;
    }
    .span_1_of_first1 h5 {
        font-size: 1em;
    }
}


/*--//End-media Quries for 320px-monitors-*/


/*내부 컨텐츠*/

.post-module {
    position: relative;
    z-index: 1;
    display: block;
    background: #ffffff;
    min-width: 200px;
    height: 350px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module:hover,
.hover {
    -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

.post-module:hover .thumbnail img,
.hover .thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.post-module .thumbnail {
    background: #000000;
    overflow: hidden;
 
}

.post-module .thumbnail .date {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    background: #ED2553;
    width: 30px;
    height: 30px;
    padding:4.5px 0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.post-module .thumbnail .date .day {
    font-size: 10px;
    padding-top: 0px;
    line-height: 8px;
}

.post-module .thumbnail .date .month {
    font-size: 5px;
    text-transform: uppercase;
}

.post-module .thumbnail img {
    display: block;
    width: 100%; 
    /* height: auto;*/
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.post-module .post-content {
    position: absolute;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
   
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.post-module .post-content .category {
    position: absolute;
    top: -20px;
    left: 0;
    background: #ED2553;
    padding: 5px 15px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

.post-module .post-content .title {
    margin: 0;
    color: #333333;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.8px;
	word-break: break-all;

}


.post-module .post-content .description {
    display: none;
    color: #333333 !important;
    height:90px;
    padding-left: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 1.8em;
    border-top: 1px solid rgba(51, 51, 51, 0.3);
   border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.detailsub{
    
    color: #333333 !important;
    
}
.detailcon{
     font-size: 0.7rem;
    color: #333333 !important;
    line-height: 16px;
}
.timestamp{
    font-size: 0.8rem;
    position: relative;
    top: 10px;
    
}



.post-module .post-content .post-meta .timestamp {
    margin: 0 16px 0 0;
}


.post-module .post-content .post-meta {
	
    color: #999999;
    text-decoration: none;
    font-size: 10px;
    padding-top: 3px;
}

.hover .post-content .description {
    display: block !important;
    height: auto !important;
    opacity: 1 !important;
}
#pick_count{
	padding-left: 55px;
}

/**/


/*플로팅 메뉴*/

.float-nav {
    position: fixed;
    
    top: 95px;
    left: 25px;
    z-index: 2;
}

.float-nav > a.menu-btn {
    
    text-decoration: none;
    display: block;
    background-color: #ED2553;
    color: white;
    padding: 17px 17px 12px 17px;
    text-align: center;
    box-shadow: 2px 2px 8px #777;
    border-radius: 300px;
}

.float-nav > a.menu-btn.active {
    transition: background-color 250ms linear;
    background-color: transparent;
    box-shadow: none;
}





.float-nav > a.menu-btn.active > ul > li.line:nth-child(1) {
    border-width: 2px;
    -moz-transform: rotate(45deg) translate(4px, 6px);
    -ms-transform: rotate(45deg) translate(4px, 6px);
    -webkit-transform: rotate(45deg) translate(4px, 6px);
    transform: rotate(45deg) translate(4px, 6px);
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(2) {
    visibility: hidden;
}

.float-nav > a.menu-btn.active > ul > li.line:nth-child(3) {
    border-width: 2px;
    -moz-transform: rotate(-45deg) translate(8px, -10px);
    -ms-transform: rotate(-45deg) translate(8px, -10px);
    -webkit-transform: rotate(-45deg) translate(8px, -10px);
    transform: rotate(-45deg) translate(8px, -10px);
}

.float-nav > a.menu-btn > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.float-nav > a.menu-btn > ul > li.line {
    border: 1px solid white;
    width: 24px;
    margin-bottom: 7px;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}
/*

.float-nav > a.menu-btn > .menu-txt {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}
*/





/* 커스텀*/

#filter-custom {
    margin-top: 140px;
}



.modal { width: 40% !important ; height: 45% !important ; }


.tagsly span.tag{
    background-color: #ED2553 !important;
}

.tagsly ul.suggest li{
    background-color:#ED2553 !important;
}
#tags{
     background-color:#ED2553 !important;
}
.input-field select{
    height: 150px !important;
}

.custom-nav{
	background-color: #ED2553;
/* 	z-index:2;
	position: fixed;
	top:0px; */
}

/*  사이드바 li및 폰트*/
.side-nav a {
   
    font-size: 12px !important;
	height: 38px !important;
    line-height: 38px !important;
   
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons {

    height: 38px !important;
    line-height: 38px !important;
  
}




.side-nav .userView .circle {
 
    margin: auto !important;
}
.side-nav .userView .name {

    text-align: center  !important;
}

.side-nav .userView .name {

   
    position: relative  !important;
  
}
.side-nav .userView .name, .side-nav .userView .email {
  
  
    position: relative  !important;

    text-align: center  !important;
}


.material-icons {
   
    font-size: 16px;
    
}
.side-nav a {
    font-size: 12px !important;
	
   padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 32px !important;
}

#chat_btn{
	 position:fixed; !important;
	 top:170px;
	 left:25px;
	 background-color: #ED2553 !important; 
}