@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);





ul {
  list-style-type: none !important;
}

li {
  display: inline-block !important;
}

input[type="checkbox"][name^="cho"] {
  display: none !important;
}

input[type="radio"][id^="cb"] {
  display: none !important;
}

label {
  border: 1px solid #fff !important;
  padding: 10px !important;
  border-radius: 3px !important;
  display: block !important;
  position: relative !important;
  margin: 10px !important;
  cursor: pointer !important;
}

label:before {

 background-image:url("/image/main/pick100.png");
  text-align:center !important;
  color: white !important;
  display: block !important;
  border-radius: 3px !important;
  position: absolute !important;
  top:2px !important;
  left: 2px !important;
  z-index:1 !important;
  width:100px  !important;
  height: 100px  !important;
  text-align: center !important;
  line-height: 100px !important;
  transition-duration: 0.4s !important;
  transform: scale(0) !important;
}

label img {
  height: 100px !important;
  width: 100px !important;
  transition-duration: 0.1s !important;
  transform-origin: 50% 50% !important;
  border-radius: 3px !important;
}



:checked + label:before {
	 transform: scale(1.2) !important;
}

:checked + label img {
  transform: scale(1.2) !important;
  box-shadow: 0 0 3px #333 !important;
  z-index: -1 !important;
}





[type="checkbox"]:checked+label:before {

    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid transparent !important;
    border-bottom: 2px solid transparent !important;
    transform-origin: 10% 10% !important;
}
.custom-nav{
	background-color: #ED2553;
}



#pick_btn{
	background-color: #ED2553;
}

/*툴팁  */
.backdrop{
       background-color:#ED2553  !important;
}


#voteTitle{
	font-family: 'Hanna', serif !important;
	
}
#voteContent{
	font-family: 'Hanna', serif !important;
	
}
.share_btn img{
	width:30px;
	height:30px;
	border-radius: 20%;
	cursor: pointer;
	
}
#goToChat_btn{
	background-color: #ED2553;
}