div.material-table {
  padding: 0;
}

div.material-table .hiddensearch {
  padding: 0 14px 0 24px;
  border-bottom: solid 1px #DDDDDD;
  display: none;
}

div.material-table .hiddensearch input {
  margin: 0;
  border: transparent 0 !important;
  height: 48px;
  color: rgba(0, 0, 0, .84);
}

div.material-table .hiddensearch input:active {
  border: transparent 0 !important;
}

div.material-table table {
  table-layout: fixed;
}
 
div.material-table .table-header {
  height: 64px;
  padding-left: 24px;
  padding-right: 14px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-display: flex;
  border-bottom: solid 1px #DDDDDD;
}

div.material-table .table-header .actions {
  display: -webkit-flex;
  margin-left: auto;
}

div.material-table .table-header .btn-flat {
    min-width: 36px;
    padding: 0 8px;
}

div.material-table .table-header input {
  margin: 0;
  height: auto;
}

div.material-table .table-header i {
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px;
}

div.material-table .table-footer {
  height: 56px;
  padding-left: 24px;
  padding-right: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .dataTables_length {
  display: -webkit-flex;
  display: flex;
}

div.material-table .table-footer label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  /* works with row or column */
  
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .select-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row
  /* works with row or column */
  
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .dataTables_info,
div.material-table .table-footer .dataTables_length {
  margin-right: 32px;
}

div.material-table .table-footer .material-pagination {
  display: flex;
  -webkit-display: flex;
  margin: 0;
}

div.material-table .table-footer .material-pagination li:first-child {
  margin-right: 24px;
}

div.material-table .table-footer .material-pagination li a {
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .select-wrapper input.select-dropdown {
  margin: 0;
  border-bottom: none;
  height: auto;
  line-height: normal;
  font-size: 12px;
  width: 40px;
  text-align: right;
}

div.material-table .table-footer select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  margin-left: 20px;
}

div.material-table .table-title {
  font-size: 20px;
  color: #000;
}

div.material-table table tr td {
  padding: 0 0 0 56px;
  height: 48px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: solid 1px #DDDDDD;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.material-table table tr td a {
  color: inherit;
}

div.material-table table tr td a i {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.54);
}

div.material-table table tr {
  font-size: 12px;
}

div.material-table table th {
  font-size: 15px;
  font-weight: 500;
  color: #757575;
  cursor: pointer;
  white-space: nowrap;
  padding: 0;
  height: 56px;
  padding-left: 56px;
  vertical-align: middle;
  outline: none !important;
}

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {
  color: rgba(0, 0, 0, 0.87);
}

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "arrow_back";
  -webkit-transform: rotate(90deg);
  display: none;
  vertical-align: middle;
}

div.material-table table th.sorting:hover:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  display: inline-block;
}

div.material-table table th.sorting_desc:after {
  content: "arrow_forward";
}

div.material-table table tbody tr:hover {
  background-color: #EEE;
}

div.material-table table th:first-child,
div.material-table table td:first-child {
  padding: 0 0 0 24px;
}

div.material-table table th:last-child,
div.material-table table td:last-child {
  padding: 0 14px 0 0;
}






*, *:before, *:after {
  box-sizing: border-box;
}

/*전체화면 */
body {
 font-family: 'Lato', sans-serif;

 line-height: 0.9;
 font-size: 10px;

}

/*전체폼*/
.form {

 /* border-radius: 4px;*/
 /* box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3); */
}







/* =======버튼호버======== */
.button:hover, .button:focus {
  background: #272727;
	color:#ffffff
}

.button-block {
 outline: 30;
  outline-color: black;
  display: block;
  width: 300px;
}
/* ======= profile======== */
*,
*::after,
*::before {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
}


.preview {
		display: block;
		width: 70px;
		height: 70px;
		margin: 15px auto;
		border: 2px solid #ED2553;
		border-radius: 50%;
		overflow: hidden;
}

.file-upload-wrapper {
		position: relative;
		z-index: 5;
		display: block;
		width: 100px;
		height: 30px;
		margin: 5px auto;
    margin-bottom: 30px;
}

.file-upload-native,
.file-upload-text {
		position: absolute;
		top: 0;
		left: 0;
		display: block; 
		width: 100%;
		height: 100%;
		cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
		cursor: pointer;
}

.file-upload-native:focus,
.file-upload-text:focus {
		outline: none;
}

.file-upload-text {
		z-index: 10;
		padding: 5px 15px 8px;
		overflow: hidden;
		font-size: 14px;
		line-height: 1.4;
		cursor: pointer;
		text-align: center;
		letter-spacing: 1px;
		text-overflow: ellipsis;
		color: rgb(144, 162, 148);
		border: 0;
		background-color: transparent;
}

.file-upload-native {
		z-index: 15;
		opacity: 0;
}
/*====================================================================*/
/* label color */
   .input-field label {
     color: #ED2553;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ED2553;
   }

/* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ED2553;
     box-shadow: 0 1px 0 0 #ED2553;
       
}
/* label underline focus color *  ===for password===*/
   .input-field input[type=password]:focus {
     border-bottom: 1px solid #ED2553;
     box-shadow: 0 1px 0 0 #ED2553;
}
/* label focus color ===for password===  */
   .input-field input[type=password]:focus + label {
     color: #ED2553;
              
       
}
/* icon prefix focus color */
   .input-field .prefix.active {
     color: #ED2553;
   }

 /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #ED2553;
     box-shadow: 0 1px 0 0 #ED2553;
   }
/* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #ED2553;
     box-shadow: 0 1px 0 0 #ED2553;
   }
/* invalid color *  ===for password===*/
   .input-field input[type=password].invalid {
     border-bottom: 1px solid #ED2553;
     box-shadow: 0 1px 0 0 #ED2553;
   }






/*커스텀  */
.thumb {
   margin: auto;
    overflow: hidden;
	 padding: 5px;
    
}

.thumb img {
    display: block; /* Otherwise it keeps some space around baseline */
    max-width: 80px;    /* Scale up to fill container width */
    height: auto;  /* Scale up to fill container height */
    padding: 5px;
      margin: auto;
    overflow: hidden;
 
}


.custom-nav{
	background-color: #ED2553;
/* 	z-index:2;
	position: fixed;
	top:0px; */
}
.custom-btn{
		background-color: #ED2553;
}

.custom-modal{
	width: 30%;
	
}
.modal-content{
	padding: 0px !important;}
	
	

	
}
#add_interest_btn{
	position:relative !improtant;
	bottom:30px !improtant;
}
.custom-nav{
	background-color: #ED2553;

}
.tabs .tab a:hover, .tabs .tab a.active {
    color: #ed2553 !important;
}

.tabs .tab a {
    color:#ed2552 !important;

 
}
/* sweetalert custom */
h2 {
  font-size: 20px !important;

}

/*  */
